* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: rgb(61, 61, 61);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  border-style: none;
}













